.title-table-wrap {
  display: flex;
  background-color: #007bff;
  color: #ffffff;
  .title-table {
    width: 85%;
    .titleTodoName {
      background: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      width: 100%;
      &:focus {
        background-color: pink;
      }
    }
  }
  .title-icon {
    margin: auto;
    margin-right: 1rem;
    cursor: pointer;
  }
}
.body-table {
  height: 300px;
  background-color: #fffed0;
}
