.title-table {
  background-color: #007bff;
  color: #ffffff;
  .titleTodoName {
    background: #007bff;
    color: #fff;
    border: none;
    &:focus {
      background-color: pink;
    }
  }
  .title-icon {
    margin-left: auto;
  }
}

.body-table {
  height: 300px;
  background-color: #fffed0;
}
